<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TANDEM</title>
 
<!-- Bootstrap --><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
 
<!-- Optional theme -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">

<html>
  <head>
     <title>TANDEM | Image & Text Analysis Environment</title>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/TANDEMstyle.css">
     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
     <nav>
      <div class="nav-wrapper">
        <object class="white_logo" type="image/svg+xml" data="{{ STATIC_URL }}tandem/images/TANDEM_WhiteLogo.svg" align="left"></object>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="documentation">Best Practices</a></li>
		  <li><a href="sample">Sample Data</a></li>
          <li><a href="terms">Terms of Use</a></li>
          <li><a href="team">Contact</a></li>
         </ul>
      </div>
     </nav>

     <div id="header">
         <img class="logo" src="{{ STATIC_URL }}tandem/Images/TANDEM-bike-logo.png" center>
     </div>

	<div id="container">
      <div id="intro">
        <p>TANDEM is an application that generates quantitative image and text data from files submitted by the user. The TANDEM output is intended to be used as source material for data visualization, quantitative analysis, and distant reading of multimodal print objects.</p>
      </div>

      <div id="btns1">
        <p><a href="project" class="btn">Get Started!</a></p>
      </div>
	</div>
	
	  <div id="footer">
          <p class="footertext"><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><img src="{{ STATIC_URL }}tandem/Images/cc.large.png" width="45" alt="Creative Commons logo"><a href="https://twitter.com/dhtandem" target="_blank"><img src="{{ STATIC_URL }}tandem/Images/twitter1.gif" width="50" alt="logo icon"></a>
          <br />TANDEM is licensed under a Creative Commons-Attribution 4.0 International License. See: <a href="terms.html" target="_blank">Terms of Use</a></p>
      </div>

     </div>
  </body>
</html>