
<html>
    <head>
      <meta charset="UTF-8">
      <title>Project Data</title>
    </head>
    <body>
        <h1>Define your Project</h1>
        <p>****************************</p>
    <form action="tandem/project/" method="post">
        {% csrf_token %}
           <label for="project_name">Project Name: </label>
           <input id="project_name" type="text" name="project_name" maxlength="200"><br>

           <p><input type="submit" value="Submit" id="Save" /></p>
    </form>
</body>
</html>