<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TANDEM</title>
 
<!-- Bootstrap --><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">

<html>
  <head>
     <title>TANDEM | Image & Text Analysis Environment</title>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/TANDEMstyle.css">
     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
     <nav>
      <div class="nav-wrapper">
        <object class="white_logo" type="image/svg+xml" data="tandem/images/TANDEM_WhiteLogo.svg" align="left"></object>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="documentation.html">Best Practices</a></li>
		  <li><a href="sample.html">Sample Data</a></li>
          <li><a href="terms.html">Terms of Use</a></li>
          <li><a href="team.html">Contact</a></li>
         </ul>
      </div>
     </nav>

	<div id="container">
      <div id="process">
		<html>
			<body>
               <h1>Define your Project</h1>
<!-------------I need to add this section to capture the project persistent data------------------>
                    <form action="/project/" method="post">
                        {% csrf_token %}
                        <label for="project_name">Project Name: </label>
                        <input id="project_name" type="text" name="project_name" maxlength="200"><br>

                        <p><input type="submit" value="OK, I'm Ready" class="btn" id="Save" /></p>
                    </form>
<!-------------End inserted code------------------------------------------------------------------>

				<h1 align="center">Prepare Your Files</h1>
		<p align="center">In order to get the best possible results from TANDEM, make sure that your files are in proper order: <br /><li>If you have more than one file to analyze, make sure they are named sequentially</li><li>Have your files saved as PDF, JPEG, or TIFF</li><li>For additional details, consult <a href="documentation.html" class="body" target="_blank">Best Practices</a></li></p>

			</body>
		</html>
      </div>
	</div>
	
	  <div id="footer">
          <p class="footertext"><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><img src="{{ STATIC_URL }}tandem/images/cc.large.png" width="45" alt="Creative Commons logo"><a href="https://twitter.com/dhtandem" target="_blank"><img src="{{ STATIC_URL }}tandem/images/twitter1.gif" width="50" alt="logo icon"></a>
          <br />TANDEM is licensed under a Creative Commons-Attribution 4.0 International License. See: <a href="terms.html" target="_blank">Terms of Use</a></p>
      </div>

     </div>
  </body>
</html>